@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Programowanie w środowisku ASP.NET</h1>
    <p>
        Projekt tworzony w ramach laboratorii z przedmiotu <strong>Programowanie w środowisku ASP.NET</strong>.
    </p>
</div>